body {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.3em;
}

.clock {
  display: fixed;
  top: 0;
  right: 0;
  background: #ff7f50;
  padding: 1em;
}

.list {
  margin: 3em;
}

